# Code formatting and linting
black
ruff
pylint

# Testing
pytest
pytest-cov
nbval

# Core Python libraries
python-dateutil
pandas
numpy
requests
click

# Flask and related packages
flask
sqlalchemy
python-dotenv

# For load testing
locust

# PDF generation
fpdf

# Databricks support (if used)
databricks
databricks-sql-connector
google-generativeai
SpeechRecognition
pyttsx3
pyodb